* {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}

body, table td, select {
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}

.crm-ContextArea {
  border-top: 1px solid #7598c7;	
	
 /* background-image: url(images/context_area.png);*/
  background-repeat: repeat-x;  
  
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;  
}

.crm-ApplicationMenu {
 /* background-image: url(images/application_menu.png);*/
  background-repeat: repeat-x; 
  
  padding-top: 4px;
  padding-left: 4px;
}

/*
 * Application Menu buttons
 */
 
.menuButton,
.menuButtonOver,
.menuButtonDown,
.menuButtonDisabled,
.menuButtonSelected,
.menuButtonSelectedDown,
.menuButtonSelectedOver,
.menuButtonSelectedDisabled {
  border: transparent 1px solid; 	
  background: none;
  color: #000000;   
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: normal;  
  padding-left: 4px;
  padding-right: 4px;
}
 
.menuButtonOver {
  border: #ffdb6c 1px solid;   
  /*background-image: url(images/application_menu_button_over.png);*/
  background-repeat: repeat-x;    
  color: #15428b;   
  cursor: default;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: normal;  
  padding-left: 2px;
  padding-right: 2px;
}

.menuButtonDown,
.menuButtonSelected,
.menuButtonSelectedDown,
.menuButtonSelectedOver {
  border: #ffdb6c 1px solid;   
  /*background-image: url(images/application_menu_button_down.png);*/
  background-repeat: repeat-x;    
  color: #15428b;   
  cursor: default;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: normal;  
  padding-left: 2px;  
  padding-right: 2px;
}

.menu,
.menuSelected,
.menuOver,
.menuSelectedOver,
.menuDisabled,
.menuTitleField,
.menuTitleFieldSelected,
.menuTitleFieldOver,
.menuTitleFieldSelectedOver,
.menuTitleFieldDisabled,
.menuIconField,
.menuIconFieldOver,
.menuIconFieldSelected,
.menuIconFieldSelectedOver,
.menuIconFieldDisabled,
.treeMenuSelected,
.treeMenuSelectedOver,
.treeMenuSelectedSelected,
.treeMenuSelectedSelectedOver { 
  color: #15428b;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: normal;  	
  padding-top: 2px; 
  padding-bottom: 2px;
}

.crm-Masthead {
  /*background-image: url(images/masthead.png);*/
  background-repeat: repeat-x; 
}

.crm-Masthead-Logo {
  /* height: 48px;
  width: 48px; */
  padding-top: 4px;
  padding-left: 8px;	
}

.crm-MastHead-Name {
  color: #000000;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  padding-top: 12px;
  padding-left: 2px;	
  text-align: left;
}

.crm-MastHead-SignedInUser {
  color: #000000;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10px;
  font-weight: normal;
  overflow: hidden;
  padding-right: 4px;
  text-align: right;
}

/*
 * Navigation Pane SectionStack headers - image based
 */

.imgSectionHeaderclosed,
.imgSectionHeaderopened,
.imgSectionHeaderDisabledclosed,
.imgSectionHeaderDisabledopened {
  color: #15428b;   
  cursor: pointer;
  cursor: hand;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;  
}

.imgSectionHeaderTitleclosed,
.imgSectionHeaderTitleopened {
  color: #15428b;   
  cursor: pointer;
  cursor: hand;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;  
}

.imgSectionHeaderTitleOverclosed,
.imgSectionHeaderTitleOveropened {
  color: #15428b;   
  cursor: pointer;
  cursor: hand;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;  
}

.imgSectionHeaderTitleDisabledopened,
.imgSectionHeaderTitleDisabledclosed {
  color: #15428b;   
  cursor: pointer;
  cursor: hand;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold; 
}


/*
 * Navigation Pane ListGrid cells
 */
 
 .crm-NavigationPaneGridCell {
  color: black;
  cursor: pointer;
  cursor: hand;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}

.crm-NavigationPaneGridCellDark {
  color: black;
  cursor: pointer;
  cursor: hand;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}
  
.crm-NavigationPaneGridCellOver,
.crm-NavigationPaneGridCellOverDark {
  /* background: url(images/navigation_pane_gridcell_over.png) repeat-x bottom left scroll; */
  border-top: 1px solid #ffb74c; 
  border-bottom:1px solid #ffb74c; 	
  color: black;
  cursor: pointer;
  cursor: hand;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}

.crm-NavigationPaneGridCellSelected,
.crm-NavigationPaneGridCellSelectedDark {
  border-top: 1px solid #ffb74c;
  border-bottom: 1px solid #ffb74c;
  background-color: #ffe6a0; 
  color: black;   
  cursor: pointer;
  cursor: hand;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}

.crm-NavigationPaneGridCellSelectedOver,
.crm-NavigationPaneGridCellSelectedOverDark {
  border-top: 1px solid #ffb74c;
  border-bottom: 1px solid #ffb74c;
  background-color: #ffe6a0; 
  color: black;   
  cursor: pointer;
  cursor: hand;  
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 11px;
}