<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!-- Log all messages to the console -->
  <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender"> 
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/> 
    </layout> 
  </appender> 
  
  
  <logger name="org.apache.jasper.compiler.JspRuntimeContext">
    <level value="OFF" />
    <appender-ref ref="consoleAppender"/>
  </logger>
  
  
  <!-- Log all SQL DML statements as they are executed -->
  <logger name="org.hibernate.SQL">
    <level value="DEBUG" />
    <appender-ref ref="consoleAppender"/>
  </logger>  
  
  <!-- Log all second-level cache activity -->
  <logger name="org.hibernate.cache">
    <level value="WARN" />
    <appender-ref ref="consoleAppender"/>
  </logger>   
  
  <!-- Log everything -->
  <logger name="org.hibernate">
    <level value="WARN" />
    <appender-ref ref="consoleAppender"/>
  </logger>
  
  
  <!-- 
  <logger name="HandlerLogger">
    <level value="DEBUG" />
    <appender-ref ref="consoleAppender"/>
  </logger>  
  -->
  
  <root> 
    <!-- <level value="DEBUG" /> -->
    <priority value="DEBUG" />
    <appender-ref ref="consoleAppender" /> 
  </root>  
  
</log4j:configuration>